[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "journalR"]
	path = journalR
	url = https://github.com/epi-sam/journalr
[submodule "vmTools"]
	path = vmTools
	url = https://github.com/epi-sam/vmtools
